body {
    background-color: #272727;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-background {
    background-color: #121212;
    color: #cde630;
}

.light-background {
    background-color: #fefefe;
    color: #000000;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.date-time-body {
    font-family: "Lato", sans-serif;
    background: #272727;
    color: #ffd868;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 38%;
    position: absolute;
}

.current-day-date {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    display: none;
    /* convert it into flip card */
}

.current_time {
    display: flex;
    font-size: 5vw;
    font-weight: 600;
    padding: 10px 20px;
}

.current_time:hover {
    background: #ffd868;
    box-shadow: 0 0 30px#ffd868;
    color: #272727;
    border-radius: 5px;
    cursor: pointer;
}

.quote-container {
    position: absolute;
    margin: auto;
    bottom: 3%;
    right: 5%;
    left: 5%;
    padding: 1%;
    background-color: rgba(135, 135, 135, 0.133);
    z-index: 2;
    border-radius: 10px;
}

.quote-container>* {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote_p {
    font-size: 1.1rem;
}

.quote_author_p {
    font-size: 1rem;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
}

.search-div {
    border: solid white 2px;
    border-radius: 10px;
    margin: 0 2%;
    padding: 1%;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
}

.search-box {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
}

.search-div:has(input:focus) {
    border: solid #FFE600 2px;
}

.img-logo {
    width: 100;
    height: 100;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.input-box {
    display: inline-flex;
    border: none;
    border-radius: 10px;
    width: 90%;
    font-size: 1.5rem;
    padding: 5px;
    padding-left: 10px;
    margin-left: 1%;
    background-color: transparent;
}

input {
    outline: none;
}

.search-btn {
    display: none;
}

.shrink-anim {
    animation: shrink-key-frame .6s;
}

.expend-anim {
    animation: expend-key-frame .6s;
}

@keyframes shrink-key-frame {
    0% {
        width: 50%;
    }

    90% {
        width: 8%;
    }

    100% {
        width: min-content;
    }
}

@keyframes expend-key-frame {
    0% {
        width: 20%;
    }

    100% {
        width: 50%;
    }
}

.greeting-div {
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 4.5vw;
    font-weight: 500;
    top: 40%;
    left: 0%;
    right: 0%;
}

.weather-div {
    width: max-content;
    position: absolute;
    display: grid;
    justify-content: end;
    align-content: center;
    float: right;
    right: 1%;
}

.weather-input-div {
    margin-top: 10%;
    margin-left: -10%;
    z-index: 1;
}

.weather-input-div #city-input {
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
    cursor: text;
    padding: 1%;
    padding-left: 2%;
    background-color: transparent;
}

.weather-input-div #city-input::placeholder {
    color: #c5c2c2;
}

.weather-details-div {
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.weather-data-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #515050e0;
    width: 100%;
    margin-top: 4px;
    max-height: 150px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.dropdown-content a:hover {
    color: #000000;
    background-color: #ffffff;
}

.half-div {
    max-width: 60%;
}

.edit-icon {
    margin-top: 6px;
    margin-left: 10px;
    cursor: pointer;
    visibility: hidden;
}

.weather-icon {
    width: 75%;
    max-width: min-content;
}

.weather-value {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.location-name {
    font-size: 0.8rem;
    font-weight: 500;
}

.display-flex-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-container {
    margin-top: 5%;
    flex-direction: column;

}

.log-title {
    flex-direction: row;
}

.tab-logo {
    width: 4%;
}

.tab-title {
    font-size: 2.5rem;
    font-style: italic;
    margin-left: 2%;
}

.welcome-content-container {
    margin-top: 10%;
    margin-left: 12%;
    display: inline-block;
}

#welcome-div {
    font-size: 6rem;
}

#welcome-heading {
    margin-right: -5%;
}

.cursor {
    animation: animate .8s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

.name-input {
    width: 2rm;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
    cursor: text;
    padding: 1%;
    margin-top: 3%;
    background-color: transparent;
}

.next_btn {
    background-color: #706b6b;
    width: 10em;
    height: 3em;
    margin-top: 5%;
    border-radius: 10px;
    float: right;
    padding-left: 5%;
}

.next_btn:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.bookmark-container {
    background-color: rgb(71, 70, 70);
    width: 80px;
    height: 60vh;
    top: 15%;
    right: 1%;
    float: right;
    position: absolute;
    padding: 1% 0.8%;
    border-radius: 8px;
}

.bookmark-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.bookmark-list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bookmark-card {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 20% 0%;
}

.bookmark-card:hover {
    scale: 1.05;
}

.bookmark-logo {
    width: 80%;
    height: 80%;
    border-radius: 8px;
}

.bookmark-name {
    font-size: small;
    text-align: center;
}

.custom-logo-div {
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
}

.logo-letter {
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.more-bookmark-btn {
    cursor: pointer;
    font-size: 0.9rem;
    color: #ffee56;
    margin-top: 10%;
    display: none;
}

#more-bookmark-popup {
    .popup {
        width: 50%;
        margin: 8% auto;
        background: #2a2a2a;
    }

    .all-bookmark-container {
        overflow: auto;
        min-height: 40vh;
        max-height: 60vh;
        margin-top: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15%;
        row-gap: 0;
        padding: 0% 1%;

        .bookmark-card {
            width: 6em;
            min-width: 60px;
            height: 5em;
            margin: 5% 1%;

            .bookmark-logo {
                background-color: #ffffff;
            }

            .bookmark-name {
                font-size: 1.2rem;
            }

            .custom-logo-div {
                .logo-letter {
                    font-size: 2.1rem;
                    font-weight: 700;
                }

            }
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay_show {
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.popup {
    width: 30%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    background: #2a2a2a;
    transition: all 1s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffee56;
    cursor: pointer;
    transition: transform 0.5s;
}

.popup .close:hover {
    transform: rotate(90deg);
}

.popup .popup-content {
    max-height: 40%;
}

.popup .popup-content span {
    font-size: 1.5rem;
    font-weight: 500;
}

.simple-input-box {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2%;
    margin: 2% 0%;
    border-radius: 8px;
    border: 3px solid transparent;
}

.simple-input-box:focus {
    border-color: #000000;
}

.popup .popup-content label {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    margin: 0% 1%;
    margin-top: 2%;
}

#save-btn {
    background-color: #ffee56;
    width: 70%;
    height: 2.5em;
    margin: 4% 15%;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.loader {
    margin: auto;
    margin-top: 3%;
    border: 10px solid #EAF0F6;
    border-radius: 50%;
    border-top: 10px solid #ffee56;
    width: 40px;
    height: 40px;
    animation: spinner 4s linear infinite;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1b1a1a;
    border-radius: 6px;
    border-bottom: 2px solid #b4b4b4;
    border-top: 2px solid #b4b4b4;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffee56;
}

::-webkit-scrollbar-track {
    background-color: #1b1a1a;
    border: 2px solid #b4b4b4;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}