body {
    background-color: #272727;
    color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-backgroud {
    background-color: #121212;
    color: #cde630;
}

.light-background {
    background-color: #fefefe;

}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

.date-time-body {
    font-family: "Lato", sans-serif;
    background: #272727;
    color: #ffd868;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
}

.current-day-date {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.current_time {
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid #ffd868;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(255, 255, 255, 0.05));
}

.current_time:hover {
    background: #ffd868;
    box-shadow: 0 0 30px#ffd868;
    color: #272727;
    cursor: pointer;
}

.quote-container {
    position: absolute;
    margin: auto;
    bottom: 3%;
    right: 5%;
    left: 5%;
    padding: 1%;
    background-color: rgba(135, 135, 135, 0.133);
    z-index: 2;
    border-radius: 10px;
}

.quote-container>* {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    margin: auto;
}

.search-div {
    border: solid white 2px;
    border-radius: 10px;
    margin: 0 2%;
    padding: 1%;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
}

.search-box {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: solid white 2px;
    border-radius: 10px;
}

.search-div:has(input:focus) {
    border: solid #FFE600 2px;
}

.img-logo {
    width: 100;
    height: 100;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.input-box {
    display: inline-flex;
    border: none;
    border-radius: 10px;
    width: 90%;
    font-size: 1.5rem;
    padding: 5px;
    padding-left: 10px;
    margin-left: 1%;
    background-color: transparent;
}

input {
    outline: none;
}

.search-btn {
    display: none;
}

.shrink-anim {
    animation: shrink-key-frame .6s;
}

.expend-anim {
    animation: expend-key-frame .6s;
}

@keyframes shrink-key-frame {
    0% {
        width: 50%;
    }

    90% {
        width: 8%;
    }

    100% {
        width: min-content;
    }
}

@keyframes expend-key-frame {
    0% {
        width: 20%;
    }

    100% {
        width: 50%;
    }
}

.greeting-div {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-size: 2rem;
}

.weather-div {
    display: grid;
    justify-content: end;
    align-content: center;
    margin-right: 2%;
    margin-top: 2%;
}

#city-input {
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
    cursor: text;
    padding: 1%;
    padding-left: 8%;
    background-color: transparent;
}

#city-input::placeholder {
    color: #c5c2c2;
}

.weather-deatils-div {
    gap: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-areas:
        'weather-type weather-value '
        'weather-icon weather-value '
        'weather-icon location-name ';
}


.weather-icon {
    grid-area: weather-icon;
    width: 70%;
}

.weather-value {
    grid-area: weather-value;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.weather-type {
    grid-area: weather-type;
}

.location-name {
    grid-area: location-name;
    font-weight: 600;
}

.container {
    margin-top: 18%;
    margin-left: 32%;
    display: inline-block;
}

#welcome-div {
    font-size: 6rem;
}

#welcome-heading {
    margin-right: -5%;
}

.cursor {
    animation: animate .8s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
    }
}

.name-input {
    width: 2rm;
    border: none;
    border-bottom: 2px solid white;
    font-size: 1rem;
    color: white;
    cursor: text;
    padding: 1%;
    margin-top: 3%;
    background-color: transparent;
}
